@page "/ApiKeyAuthorization"
@using Microsoft.Extensions.Localization
@using global::Cotur.Abp.ApiKeyAuthorization.Localization
@inject IStringLocalizer<ApiKeyAuthorizationResource> L
@{
}
<h1>ApiKeyAuthorization</h1>
<p>@L["SamplePageMessage"]</p>